/* PC */
@media screen and (min-width: 1440px) {
  body {
    padding: 0 100px;
    
  }
  /* navbar */
  #menuMB li,
  #menuMA li {
      color: #232323;
      line-height: 27.2px;
      margin: 0 8px 0 0;
      padding: 0 35px;
      text-align: center;
  }

  #menuMB ul,
  #menuMA ul {
      color: #232323;
      line-height: 27.2px;
      text-align: center;
  }

  #menuMB,
  #menuMA {
      color: #232323;
      align-items: center;
      justify-content: center;
      line-height: 27.2px;
      text-align: center;
  }

  #menuMB a,
  #menuMA a {
      color: #555555;
      display: inline-block;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
  }

  #logo img {
      width: 75%;
  }

  #logo {
      margin: 0;
      padding-left: 35px;
      padding-top: 0;
      padding-bottom: 0;
  }

  /* navbar */

  /*   chỗ này mn bổ sung phần chỉnh sửa dành cho pc */
  #head img {
    height: 700px;
  }
  /*   chỗ này mn bổ sung phần chỉnh sửa dành cho pc */

  /* Footer */
  .listSocial {
    border-top: 2px solid;
    line-height: 27.2px;
    padding: 20px;
    text-align: left;
    opacity: 0.8;
    background-color: #fff1d0;
  }

  .listSocial-c {
    align-items: center;
    display: flex;
    line-height: 0;
    text-align: left;
  }

  .listSocial-c a {
    margin-left: 10px;
  }

  #contact-us p {
    font-size: 14px;
    line-height: 23.8px;
    margin: -9px 0 10px;
    text-align: left;
  }

  .input-group-btn button {
    align-items: flex-start;
    background-color: #3c5e2c;
    color: #ffffff;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
  }

  .showMessageMe span {
    display: inline;
    font-size: 16px;
    line-height: 22.1px;
    text-align: left;
    font-weight: bold;
  }

  #copyright {
    width: 40%;
    color: #232323;
  }

  #contact-us {
    width: 40%;
    color: #232323;
  }

  #social {
    width: 20%;
    color: #232323;
    text-align: left;
  }
  /* Footer */
}
/* PC */

/* laptop L */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  body {
        padding: 0 50px;
        
    }
    /* navbar */
    #menuMB li,
    #menuMA li {
        color: #232323;
        
        line-height: 27.2px;
        margin: 0 0 8px 0;
        padding: 0 30px;
        text-align: center;
    }
    
    #menuMB ul,
    #menuMA ul {
        color: #232323;
        line-height: 27.2px;
        text-align: center;
    }
    
    #menuMB,
    #menuMA {
        color: #232323;
        align-items: center;
        
        justify-content: center;
        line-height: 27.2px;
        text-align: center;
    }
    
    #menuMB a,
    #menuMA a {
        color: #555555;
        display: inline-block;
        
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }

    #logo img {
        width: 75%;
    }

    #logo {
        margin: 0;
        padding-left: 35px;
    }
    /* navbar */

    /* Footer */
    .listSocial {
        border-top: 2px solid;
        line-height: 27.2px;
        padding: 20px;
        text-align: left;
        opacity: 0.8;
        background-color: #fff1d0;
    }
    
    .listSocial-c {
        align-items: center;
        display: flex;
        line-height: 0;
        text-align: left;
    }
    
    .listSocial-c a {
        margin-left: 10px;
    }
    
    #contact-us p {
        font-size: 14px;
        line-height: 23.8px;
        margin: -9px 0 10px;
        text-align: left;
    }
    
    .input-group-btn button {
        align-items: flex-start;
        background-color: #3c5e2c;
        color: #ffffff;
        display: inline-block;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .showMessageMe span{
        display: inline;
        font-size: 16px;
        line-height: 22.1px;
        text-align: left;
        font-weight: bold;
    }

    #copyright {
        width: 40%;
        color: #232323;
    }

    #contact-us {
        width: 40%;
        color: #232323;
    }

    #social {
        width: 20%;
        color: #232323;
        text-align: left;
    }
    /* Footer */
}
/* laptop L */

/* chỗ này tui muốn call để giải thích với mn */
@media screen and (min-width: 992px) and (max-width: 1023px) {
  body {
        padding: 0 50px;
        
    }
    /* navbar */
    #menuMB li,
    #menuMA li {
        color: #232323;
        
        line-height: 27.2px;
        padding: 15px;
        text-align: center;
    }
    
    #menuMB ul,
    #menuMA ul {
        color: #232323;
        line-height: 27.2px;
        text-align: center;
    }
    
    #menuMB,
    #menuMA {
        color: #232323;
        align-items: center;
        
        justify-content: center;
        line-height: 27.2px;
        text-align: center;
    }
    
    #menuMB a,
    #menuMA a {
        color: #555555;
        display: inline-block;
        
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }

    #logo img {
        width: 75%;
    }

    #logo {
        margin: 0;
        padding-left: 35px;
    }
    /* navbar */

    /* Footer */
    #copyright {
        width: 100%;
        color: #ffffff;
        opacity: 0.8;
        background-color: #3c5e2c;
        padding: 20px;
    }
    
    #contact-us {
        width: 70%;
        padding-top: 20px;
        color: #ffffff;
        background-color: #232323;
        padding: 20px;
    }
    #social {
        width: 30%;
        padding-top: 20px;
        color: #ffffff;
        background-color: #232323;
        padding: 20px;
    }

    .input-group-btn button {
        align-items: flex-start;
        background-color: #3c5e2c;
        color: #ffffff;
        display: inline-block;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
    }

    #social {
        text-align: right;
    }
    /* footer */
}
/* chỗ này tui muốn call để giải thích với mn */

/* laptop */
@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
        padding: 0 30px;
    }

    /* navbar */
    #menuMB li,
    #menuMA li {
        color: #232323;
        
        line-height: 27.2px;
        padding: 10px;
        text-align: center;
    }
    
    #menuMB ul,
    #menuMA ul {
        color: #232323;
        line-height: 27.2px;
        text-align: center;
    }
    
    #menuMB,
    #menuMA {
        color: #232323;
        align-items: center;
        
        justify-content: center;
        line-height: 27.2px;
        text-align: center;
    }
    
    #menuMB a,
    #menuMA a {
        color: #555555;
        display: inline-block;
        
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }
    /* navbar */

    /* Footer */
    #copyright {
        width: 100%;
        color: #ffffff;
        opacity: 0.8;
        background-color: #3c5e2c;
        padding: 20px;
    }
    
    #contact-us {
        width: 70%;
        padding-top: 20px;
        color: #ffffff;
        background-color: #232323;
        padding: 20px;
    }
    #social {
        width: 30%;
        padding-top: 20px;
        color: #ffffff;
        background-color: #232323;
        padding: 20px;
    }

    .input-group-btn button {
        align-items: flex-start;
        background-color: #3c5e2c;
        color: #ffffff;
        display: inline-block;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
    }

    #social {
        text-align: right;
    }
    /* footer */
}
/* laptop */

/* tablet */
@media screen and (min-width: 426px) and (max-width: 767px) {
  body {
        padding: 0 10px;
    }
    /* navbar */
    #menuMB li,
    #menuMA li {
        color: #232323;
        
        line-height: 27.2px;
        margin: 0 8px 0 0;
        padding: 20px;
        text-align: center;
    }
    #menuMB ul,
    #menuMA ul {
        color: #232323;
        line-height: 27.2px;
        text-align: center;
    }
    #menuMB a,
    #menuMA a {
        color: #555555;
        display: inline-block;
        
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }
    /* navbar */

    /* Footer */
    #copyright {
        width: 100%;
        color: #ffffff;
        opacity: 0.8;
        background-color: #3c5e2c;
        padding: 20px;
    }
    
    #contact-us {
        width: 70%;
        padding-top: 20px;
        color: #ffffff;
        background-color: #232323;
        padding: 20px;
    }
    #social {
        width: 30%;
        padding-top: 20px;
        color: #ffffff;
        background-color: #232323;
        padding: 20px;
    }

    .input-group-btn button {
        align-items: flex-start;
        background-color: #3c5e2c;
        color: #ffffff;
        display: inline-block;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
    }

    #social {
        text-align: right;
    }
    /* footer */
}
/* tablet */

/* mobile */
@media screen and (min-width: 376px) and (max-width: 425px) {
  body {
        padding: 5px;
    }
    /* navbar */
    #menuMB li,
    #menuMA li {
        color: #232323;
        
        line-height: 27.2px;
        margin: 0 8px 0 0;
        padding: 0 0 10px 10px;
    }

    #menuMB a,
    #menuMA a {
        color: #555555;
        display: inline-block;
        
        font-size: 20px;
        line-height: 22px;
        /* text-align: center; */
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }

    #logo img {
        max-width: 50%;
        margin-right: 90px;
    }
    /* navbar */

    /* footer */
    .listSocial {
        border: 2px solid;
        color: #ffffff;
        line-height: 27.2px;
        text-align: left;
        opacity: 1;
        text-align: center;
        background-color: #232323;
    }

    #copyright,
    #contact-us,
    #social {
        margin: 20px 0;
    }

    .input-group-btn button {
        align-items: flex-start;
        background-color: #3c5e2c;
        color: #ffffff;
        display: inline-block;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
    }
/* footer */
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  body {
      padding: 5px;
  }

  /* navbar */
  #menuMB li,
  #menuMA li {
      color: #232323;
      line-height: 27.2px;
      margin: 0 8px 0 0;
      padding: 0 0 10px 10px;
  }

  #menuMB a,
  #menuMA a {
      color: #555555;
      display: inline-block;
      font-size: 20px;
      line-height: 22px;
      /* text-align: center; */
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
  }

  #logo img {
      max-width: 50%;
      margin-right: 60px;
  }

  /* navbar */


  /* footer */
  .listSocial {
      border: 2px solid;
      color: #ffffff;
      line-height: 27.2px;
      text-align: left;
      opacity: 1;
      text-align: center;
      background-color: #232323;
  }

  #copyright,
  #contact-us,
  #social {
      margin: 20px 0;
  }

  .input-group-btn button {
      align-items: flex-start;
      background-color: #3c5e2c;
      color: #ffffff;
      display: inline-block;
      line-height: 35px;
      text-align: center;
      text-transform: uppercase;
  }

  /* footer */
}

@media screen and (max-width: 320px) {
  body {
      padding: 5px;
  }

  /* navbar */
  #menuMB li,
  #menuMA li {
      color: #232323;
      line-height: 27.2px;
      margin: 0 8px 0 0;
      padding: 0 0 10px 10px;
  }

  #menuMB a,
  #menuMA a {
      color: #555555;
      display: inline-block;
      font-size: 20px;
      line-height: 22px;
      /* text-align: center; */
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
  }

  #logo img {
      max-width: 50%;
      margin-right: 30px;
  }

  /* navbar */

  /* footer */
  .listSocial {
      border: 2px solid;
      color: #ffffff;
      line-height: 27.2px;
      text-align: left;
      opacity: 1;
      text-align: center;
      background-color: #232323;
  }

  #copyright,
  #contact-us,
  #social {
      margin: 20px 0;
  }

  .input-group-btn button {
      align-items: flex-start;
      background-color: #3c5e2c;
      color: #ffffff;
      display: inline-block;
      line-height: 35px;
      text-align: center;
      text-transform: uppercase;
  }

  /* footer */
}
/* mobile */

* {
  font-family: 'Varela Round', sans-serif;
}

#head h1 {
  margin: 20px 0;
}

#noidung h4 {
  font-weight: bold;
  color: brown;
}

#head {
  text-align: center;
  margin-top: 30px;
}

#head-img {
  display: flex;
  justify-content: center;
}

#tinlienquan ul {
  padding: 0;
}

#tinlienquan li {
  list-style: none;
  margin-top: 10px;
}

#tinlienquan a {
  color: brown;
}

#tomtat,
#tinlienquan {
  margin-top: 50px;
}

#tomtat li {
  margin-left: 30px;
}

.container {
  
  font-weight: bold;
  font-size: larger;
}
.img-top {
  width: 100%;
}
.scroll-to-top {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 9px 12px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: none;
}

.scroll-to-top:hover {
  background-color: #d7d7d7;
  color: #000;
}
